$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
ul {
  list-style: none;
}
/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f0f0f0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.navbar-default .navbar-brand {
  color: white;
  transition: all 0.1s linear;

  &:hover {
    color:red;
  }
}
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 970px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-default {
  background-color: #333;
}

.workBox {

  caption {
    text-align: center;
  }

}
.title-works {
    font-size: 1em;
    text-align:center;
    line-height: .1;
    color: rgb(88,0,0);
  }

ul.info-works {
    padding-left: 0;
  li {
    float: left;
    color: #a1a1a1;
    font-size: .9em;
    //font-weight: 700;
  }
}
li.year {
      float:left;
    }

.thumbnail {
  //max-height: 230px;
}
.workBox:hover {
  //opacity: 1;
}

.workBox.ng-enter.ng-enter-active,
.workBox.ng-leave {
  transition: all 0.2s cubic-bezier(0.250, 0.250, 0.750, 0.750);
  opacity: 1;
}
.workBox.ng-leave.ng-leave-active,
.workBox.ng-active {
  //transition: all 0.3s ease-out;
  opacity: 0;
}

// .workBox.ng-move {
//   transition: all 0.2s ease-out;
//   opacity: 1;
// }
// .workBox.ng-move-active {
//   //transition: all 0.2s ease-out;
//   opacity: 0;
// }

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 470px) {
.col-xs-6, .col-md-3{
    padding-left: 5px;
    padding-right: 5px
  }
}
