<div class="row">
  <div class="col-md-12">
    <img class="img-responsive" ng-src="images/bio_banner.jpg" alt="">
  </div>

  <div class="col-md-1"></div>
  <div class="head-section clearfix">
  <div class="col-xs-12 col-md-6">
    <h2>Bio</h2>
  </div>
  </div>

  <div class="col-md-1"></div>
  <div class="col-xs-12 col-md-6">
    <p>I was born in Mexico City, and did most of my education in Mexico. I attended the National Autonomous University of Mexico and got a bachelor´s degree in Visual Arts. During that time, I also did one year of education abroad in the University of California/ Davis in USA. In Davis I was exhibiting in several galleries among them John Natsoulas and Phantom Gallery in Sacramento.</p>
    <p>After finishing my education I moved to Montreal Canada for a year, and worked on mural painting for most of my staying there. I worked on several art projects among them was to make an engraving for the yearly award of RIDEAU (Réseau indépendant des diffuseurs d’événements artistiques).</p>
    <p>A year after my life changed dramatically when I met my danish wife and decided to move to Denmark, where I live untill now together with my two sons.</p>
  </div>
  <div class="col-xs-12 col-md-4">
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.adrianrperdomo.com&amp;layout=standard&amp;show_faces=true&amp;width=440&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
  </div>
  <div class="col-md-12">
  <div class="quote-banner">
"Værkerne knytter alvorlige kommentarer til menneskers og dyrs levevilkår i den moderne verden og de dilemmaer vi står overfor med hensyn til masseproduktion og genmanipulation."
</div>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-xs-12 col-md-6">
      <h2>CV</h2>
      <h3>studies</h3>
      <p><span class="cvDate">2011-2013</span>Bachelor in Web Development. Erhverv Akademi, CPH DK.</p>
      <p><span class="cvDate">2004-2006</span>Multimedia Designer. Teknisk Skole DK.</p>
      <p><span class="cvDate">1996-2000</span>Bachelors degree in Visual Arts at Universidad Autonoma de Mexico (UNAM) Mexico, D.F</p>
      <p><span class="cvDate">1998-1999</span>University of California Davis.  As part of an education abroad program.</p>
      <h3>exhibitions</h3>
      <h4>solo</h4>
      <p><span class="cvDate">2014</span>Galerie Pi “Whiteout“. København DK.</p>
      <p><span class="cvDate">2012</span>Galerie Pi “Paradise“. København DK.</p>
      <p><span class="cvDate">2008</span>Galerie Pi “Home“.Dag Hammarskjölds Allé 33 København DK.</p>
      <p><span class="cvDate">2008</span>Galleri progres "Terminal". Horsens, dk</p>
      <p><span class="cvDate">2007</span>Galleri progres "Stem celler". Horsens, dk</p>
      <p><span class="cvDate">2007</span>Kunstforeining odense hospital. odense dk.</p>
      <p><span class="cvDate">2006</span>Galerie Pi. Dag Hammarskjölds Allé 33 København DK.</p>
      <p><span class="cvDate">2004</span>Galerie PI. Dag Hammarskjölds Allé 33 København DK.</p>
      <p><span class="cvDate">2003</span>Galerie Rad’a “Tai chi spaghetti” 841 Rue Gilford. Montreal, Canada</p>
      <h4>group</h4>
      <p><span class="cvDate">2014</span>Nordkraftudstillingen 2014. Censurede udstilling. Aalborg DK</p>
      <p><span class="cvDate">2011</span>CONTACT 2011. Photography Festival, Toronto, CA. Launch Projects Gallery (TSA).</p>
      <p><span class="cvDate">2010</span>Galerie PI . Borgergade 15 D.KBH DK</p>
      <p><span class="cvDate">2009</span>Galleri Jenzen Danmarksgade 8.Aalborg.DK</p>
      <p><span class="cvDate">2009</span>Art Copenhagen Nordens Kunstmesse. Forum. Cph. DK</p>
      <p><span class="cvDate">2008</span>Art Copenhagen Nordens Kunstmesse. Forum. Cph. DK</p>
      <p><span class="cvDate">2007</span>Bauhaus Situationisme i Drakabygget Konsthall. Sweden.</p>
      <p><span class="cvDate">2005</span>Herning kunstmesse. herning dk.</p>
      <p><span class="cvDate">2004</span>Drakabygget Konsthall, ”Nutidsmänniskan”. Örkelljunga, Sweden.</p>
      <p><span class="cvDate">2003</span>Galerie Luz. 372 Ste. Catherine suite 420. Montreal. Canada.</p>
      <p><span class="cvDate">2002</span>Homage to tradition. Luis Nishizawa Gallery (ENAP) Mexico city</p>
      <p><span class="cvDate">2000</span>John Natsoulas Gallery. Davis CA. USA</p>
      <p><span class="cvDate">1999</span>Phantom Galleries. (Marriage). Sacramento CA. USA.</p>
      <p><span class="cvDate">1999</span>Memorial Union Gallery. “The art student show”. Davis CA. USA</p>
      <h3>aquisitions</h3>
      <p><span class="cvDate">2010</span>“Renovering af Christiansborg Slot 2009-2010”. Folketinget acquired 5 photos</p>
      <h3>contests</h3>
      <p><span class="cvDate">2014</span>Censurede udstilling. Nordkraftsudstillingen. Aalborg DK</p>
      <p><span class="cvDate">1999</span>Acquisition award at the student art show. Davis CA. USA</p>
      <p><span class="cvDate">1997</span>1997 6th. Contest of fine arts on engraving modality. UNAM. Mexico city.</p>
</div>
</div>

