 <div class="row">
   <div class="col-md-12">
     <img class="img-responsive" ng-src="images/contact_banner.jpg" alt="">
   </div>

   <div class="col-md-1"></div>
  <div class="head-section clearfix">
  <div class="col-xs-12 col-md-6">
    <h2>Contact</h2>
  </div>
  </div>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-6">
      <h2>Information about the works:</h2>
      <div class="well">
        <address>
          <strong>Galerie PI</strong>
          Borgergade 15D <br>
          1300 Copenhagen DK<br>
          <a href="#">galeriepi.dk</a><br>
          <abbr title="Phone">P:</abbr> (45) 3543 8284
        </address>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Direct contact</h3>
      <div class="circular"></div>
      <address>
          <strong>Adrian R. Perdomo</strong>
          Emblasgade 109 <br>
          2100 Copenhagen DK<br>
          <abbr title="Phone">P:</abbr> (45) 61654216<br>
          <a href="mailto:#">adrian@adrianrperdomo.com</a>
        </address>
    </div>
    <div class="col-md-1"></div>
 </div>