<div class="container" ng-controller="ListCtrl">
  <div class="search row">
    <div class="col-xs-4">
    <input ng-model="query" type="text" class="form-control" placeholder="Text input" autofocus>
    </div>
    <label>by:
      <select ng-model="workOrder">
        <option value="price">price</option>
        <option value="year">year</option>
        <option value="title">title</option>

      </select>
    </label>

    <label>
      <input type="radio" ng-model="direction" name="direction">
      ascending
      </label>
      <label>
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
      </label>
  </div>
  
     <div class="row">
      <div class="workBox col-xs-6 col-md-3" ng-repeat="item in works | filter: query | orderBy: workOrder:direction">
      <div class="thumbnail">
      <a href="#/details/{{works.indexOf(item)}}">
        <img ng-src="images/{{item.image}}.jpg" class="img-responsive" alt="photo of {{item.title}}"></a>
        <div class="caption">
        <ul class="info-works">
          <li class="year">
          <span class="glyphicon glyphicon-calendar"></span>
          {{item.year}}</li>
          <li class="pull-right">{{item.price}}.-</li>
        </ul>
        </div>
        </div>
        <h3 class="title-works">{{item.title}}</h3>
   </div>
  </div>
</div>