<div class="container" ng-controller="ListCtrl">
  <div class="search row">
    <div class="col-xs-4">
    <input ng-model="query" type="text" class="form-control" placeholder="Text input" autofocus>
    </div>
    <label>by:
      <select ng-model="workOrder">
        <option value="year">year</option>
        <option value="title">title</option>
      </select>
    </label>

    <label>
      <input type="radio" ng-model="direction" name="direction">
      ascending
      </label>
      <label>
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
      </label>
  </div>
  <div class="col-sm-6 col-md-3">
     <div class="row">
      <div class="thumbnail" ng-repeat="item in works | filter: query | orderBy: workOrder:direction">
      <a href="#/details/{{works.indexOf(item)}}">
        <img ng-src="images/{{item.image}}.jpg" class="img-responsive" alt="photo of {{item.title}}">
        <div class="caption">{{item.title}}</div>
      </a>
      <p>{{item.technique}}</p>
      <p>{{item.tags}}</p>
      <p>{{item.year}}</p>
    </div>
   </div>
  </div>
</div>